@use "../../styles/general/general";

.formControl {
  border-radius: 5px;
  border: 1px solid general.$colors-outline;
  color: general.$colors-text;
  // TODO placeholder styling,  2C2C2C
  padding: 10px 20px;
  background-color: general.$colors-bg;
}